*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1222px;
    width: 100%;
    margin: 0 auto;
}

.green{
    color: #499A18;
}

.header{
    background: #EDF2EC;
}

.navigation-container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

.logo{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.logo__img{
    width: 20px;
}

.logo__text{
    font-family: Inika, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    padding-top: 4px;
}

.navigation{
    display: flex;
    gap: 46px;
}

.nav__link{
    font-family: Inika;
    font-size: 16px;
    font-weight: 400;
    line-height: 312.5%;
    color: #010201;
    text-decoration: none;
}

.active{
    color: #E06733;
}

.hero{
    background: #EDF2EC;
}

.hero__content{
    display: flex;
    justify-content: space-between;
    padding: 62px 0;
}

.hero__content-img{
    max-width: 448.8px;
    max-height: 407.36px;

}

.hero__content-description{
    max-width: 549px;
    padding: 36px 0 31px;
}

.hero__content-description-title{
    font-family: Inter, serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 111%;
    margin-bottom: 42px;
    color: #717171;
}

.hero__content-description-text{
    font-family: Inter, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 175%;
    margin-bottom: 48px;
    color: #636060;
    padding-right: 29px;
}

.hero__content-description-button{
    background: #EDF2EC;
    border: 2px solid #E06733;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px 25px;
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
}

.hero__content-description-button:hover{
    background: #E06733;
    color: #fff;
}

.professional__about{
    display: flex;
    justify-content: space-between;
    padding: 93px 0 94px;
    gap: 20px;
}

.professional__about-content{
    padding: 68px 0 61px;
    max-width: 605px;
    width: 100%;
}

.professional__about-content-title{
    color: #E06733;
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.303;
    margin-bottom: 40px;
    max-width: 463px;
}

.professional__about-content-text{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #636060;
}

.professional__about-img{
    max-width: 464px;
}

.service{
    background: #EDF2EC;
    padding: 40px 0 120px;
}

.service__header{
    max-width: 1007px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px; /* WHY? */
}

.service__header-title{
    max-width: 306px;
    width: 100%;
    font-family: Inika;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.303;
    color: #499A18;
}

.service__header-buttons{
    padding: 29px 0 15px;
    max-width: 559px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service__header-buttons-button{
    padding: 12px 0;
    max-height: 50px;
    height: 100%;
}

.button{   /*указать падинги*/
    max-width: 162px;
    width: 100%;
    border-radius: 5px;
    color: #E06733;
    background: #EDF2EC;
    border: 1px solid #E06733;
    font-family: Inika;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.303;
}

.button:hover{
    background: #E06733;
    color: #fff;
}

.service__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 55px;
}

.service__content-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
}

.service__content-item-title{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #E06733;
}

.service__content-item-text{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #717171;
    margin-bottom: 36px;
}

.prices{
    padding: 40px 0 115px;
}

.prices__container{
    display: flex;
    justify-content: space-between;
    max-height: 405px;
    height: 100%;
}

.prices__left{
    max-width: 332px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prices__left-title{
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.21;
    margin-bottom: 60px;
}

.prices__left-items{
    max-width: 332px;
    width: 100%;
    padding: 32px 41px;
    border-radius: 20px;
    border: 1px solid #E3E1D5;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.prices__left-items-item{
    max-width: 250px;
    width: 100%;
    background: #EDF2EC;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 16px 40px;
}

.prices__left-items-item-title{
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
}

.prices__left-items-item-img{
    width: 16px;
    height: 16px;
}

.prices__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 452px;
    width: 100%;
}

.prices__right-title{
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    text-align: right;
    margin-bottom: 38px;
}

.prices__right-button{
    background: #fff;
    margin-bottom: 38px;
    min-height: 50px;
    padding: 12px 33.96px 12px 30.04px;
}

/* .prices__right-img{
    max-width: 152px;
    max-height: 174.99px;
    width: 100%;
    height: 100%;
} */

.contacts{
    background: #EDF2EC;
    padding-top: 53px;
}

.contacts__container{
    display: flex;
    justify-content: space-between;
}

.contacts__img{
    max-width: 400px;
    width: 100%;
    max-height: 496.99px;
    height: 100%;
}

.contacts__title{
    font-family: Inika;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.303;
    margin: 7px 64px 0 113px;
}

.contacts__city{
    background: #d5e6d1; /*ne ykazan*/
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
    max-height: 50px;
    align-items: center;
    padding: 0 35px 0 20px;
    margin-top: 95px;
}

.contacts__city-text{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 5%;
    color: #717171;
}

.contacts__city-img{
    width: 16px;
    height: 16px;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer__data{
    display: flex;
    gap: 20px;
}

.footer__links{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 9px 0; /*kriwoj dizain*/
}

.footer__text{
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.5;
    text-align: center;
}